.container-links {
    max-width: 1120px;
    margin: 32px auto 0 auto;  
}

.header-Links {
    display: flex;
    flex-direction: row;
}

.header-Links svg {
    margin-right: 20px;
}

.header-Links h1 {
    color: #FFF;
}

.links-item {
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 9px;
}

.links-item:last-child{
     margin-bottom: 18px;
}

.link {
    border: none;
    width: 100%;
    min-width: 80%;
    border-radius: 5px;
    height: 46px;
    background-color: rgb(255, 255, 255, 0.15);
    margin-right: 14px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-size: 18px;
    color: #FFF;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.link svg {
    margin-right: 14px;
}

.delete-link {
    border: none;
    background: transparent;
    cursor: pointer;
}

.empty-list {
    width: 100%;
    text-align: center;
    color: #FFF;
    margin-top: 28px;
}

@media screen and (max-width: 600px) {
    .container-links {
        width: 90%;
    }

    .links-item {
        width: 100%;
    }

    .link {
        width: 100%;
    }

    .link svg {
        display: none;
    }
}